.cart-header {
    font-weight: bold;
    border-bottom: 2px solid #e9dddd;
    margin-bottom: 10px;
    padding: 10px 0;
  }
  
  .cart-item-row {
    padding: 10px 0;
    border-bottom: 1px solid #e9dddd;
  }

  .cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .cart-item h4 {
    margin: 0;
  }
  
  .cart-item p {
    margin: 5px 0;
  }